---
import SkillIcon from './SkillIcon.astro'
import { SKILLS } from '../../consts'
---
<section id='about-section'>
<h2 id="headline-about"><span aria-hidden="true">•</span> About</h2>
  <div id='about-description'>
    <p>I&apos;ve been a software developer and full-stack web enthusiast for 4+ years,
      working from <strong>server-ful</strong> to <strong>serverless</strong>,
      wrangling both <strong>SQL</strong> and <strong>noSQL</strong>,
      and writing procedural <strong>Typescript</strong> as well as functional <strong>Elixir</strong>.
    </p>
    <p>In free time, I enjoy writing technical articles, building side projects, and doing hobbies including:
      strumming guitar, reading books, practicing Japanese, or playing boardgames.
    </p>
    <p><strong>Education: </strong>I have a Bachelor in <strong>Computer Science</strong> from the University of Cincinnati in 2024.</p>

    <h2>Skills</h2>
    {Object.entries(SKILLS).map(([skillCategory, skillList]) => {
      return (
        <div class='skill-subsection'>
          <p class='skill-category-title'>{skillCategory}</p>
          <ul class='skill-list'>
            {skillList.map(skillName => <li><SkillIcon iconName={skillName} /></li>)}
          </ul>
        </div>
      )
    })}

    <h2>Work experiences</h2>
    <div class='work-exp-section'>
      <p class='work-exp-pill'>Online Rewards <span aria-hidden="true">•</span> current</p>
      <p class='work-exp-pill'>Siemens <span aria-hidden="true">•</span> 2023</p>
    </div>
  </div>
</section>

<style>
  section {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 3rem;
    padding-block-end: 4em;
  }

  #about-description > * + * {
    margin-block-start: 1em;
  }

  h2#headline-about {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  .skill-subsection {
    .skill-category-title {
      font-size: 1.25rem;
      font-weight: 500;
    }

    .skill-list {
      list-style-type: none;
      padding: 0 1em;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(7ch, 1fr));
      place-items: center;
      gap: max(3vw, 25px) max(2vw, 25px);
    }
  }

  .work-exp-section {
    display: flex;
    gap: 1.5em;
  }

  .work-exp-pill {
    outline: 1px solid oklch(0.681 0.0 0.0 / 0.7);
    padding: 0.5em 1.5em;
    border-radius: 3rem;

    &:hover {
      background-color: oklch(0.175 0.0 0.0);
      color: white;
    }
  }

  @media (max-width: 900px) {
    section {
      grid-template-columns: 1fr;
      text-align: center;
    }

    .work-exp-section {
      justify-content: center;
    }
  }
</style>

