---
import HeroImageStack from './HeroImageStack.astro'
---
<section>
  <div>
    <h1 id="headline">Hi, I&apos;m Bao Huynh</h1>
    <p id="sub-headline">Developer, writer, <br/> & builder of cool things</p>
    <p id="mini-headline">Current: Backend Engineer @ OLR</p>
  </div>

  <div class="hero-images">
    <HeroImageStack />
  </div>

  <div class='blurry-spot' id='blurry-accent-1'></div>
  <div class='blurry-spot' id='blurry-accent-2'></div>
  <div class='blurry-spot' id='blurry-accent-3'></div>
  <div class='blurry-spot' id='blurry-accent-4'></div>
</section>

<style>
  section {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 47%;
    gap: 2rem;
    align-items: center;
    min-height: 100vh;
    overflow-x: clip;
    --blur-radius: min(15vw, 200px);

    > :nth-child(2) {
      justify-self: end;
    }
  }

  #headline {
    font-size: 3.25rem;
    margin-block-end: 2.5rem;
  }

  #sub-headline {
    font-size: 1.85rem;
    margin-block-end: 2.25rem;
  }

  #mini-headline {
    font-style: italic;
  }

  .blurry-spot {
    position: absolute;
    filter: blur(var(--blur-radius));
    width: min(50vw, 750px);
    aspect-ratio: 1 / 1;
    z-index: -1;
    border-radius: 100%;
  }

  .blurry-spot#blurry-accent-1 {
    background-color: oklch(0.93 0.06 90 / 1.0);
    inset: auto auto 0 0;
    translate: -45% 0%;
    width: min(50vw, 750px);
  }

  .blurry-spot#blurry-accent-2 {
    background-color: oklch(0.83 0.078 236 / 1.0);
    inset: 0 auto 0 auto;
    translate: -60% -70%;
    width: min(40vw, 500px);
  }

  .blurry-spot#blurry-accent-3 {
    background-color: oklch(0.77 0.15 281 / 1.0);
    inset: 0 0 auto auto;
    translate: 60% 0%;
    width: min(40vw, 500px);
  }

  .blurry-spot#blurry-accent-4 {
    background-color: oklch(0.85 0.07 55 / 1.0);
    inset: auto 30% 0 auto;
    translate: 60% 0%;
    width: min(40vw, 500px);
  }


  @media (max-width: 700px) {
		.hero-images {
			display: none;
		}

    section {
      grid-template-columns: 1fr;
    }
	}

</style>
